<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<div>
    <h1>Yeah, I gotta come back to this.</h1>
</div>
<div>
    <form method="POST" action="/kytube/submit" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="username">
        <input type="file" name="data">
        </br>
        </br>
            <button type="submit" class="btn btn-primary">Submit Data</button>
    </form>
</div> 
</body>
</html>