{% load static %}
{% include "base.html" %}
<body>
    <div class="row">
        <img src = "{% static 'kyt1/socrates.jpg' %}" height="100">
        <h1>Disclaimer: This website seriously lacks aesthetic appeal
            and may just burn your eyes. Explore at your own risk.
        </h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a href = "{% url 'land' %}"><h2 class="btn btn-primary">Homepage</h2></a>
        </div>
        <div class="col-md-6">
            <a  href = "/kytube/"><h2 class="btn btn-primary">Know YourTube</h2></a>
        </div>
    </div>
    <div class="row">
        <a href="https://youtu.be/dQw4w9WgXcQ" class="btn btn-primary">Click here if you have faith in this site</a>
    </div>
    <a href="{% url 'timer' %}">timer</a>
</body>